---
layout: default
---

<div class="home">

  <h1 class="page-heading">{{ site.i18n.posts[page.lang] }}</h1>

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        •
        {% for t in post.tags %}
          <span class="post-meta"><a href="tags/{{ t | append: site.suffix[page.lang] }}">{{ t }}</a></span>
        {% endfor %}

          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>

        {{ post.excerpt }}

        {% if post.excerpt != post.content %}
          <a href="{{ site.baseurl }}{{ post.url }}">[{{ site.i18n.more[page.lang] }}]</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

  <!-- Pagination links -->
  {% include pagination.html %}

  <p class="rss-subscribe">{{ site.i18n.subscribe[page.lang] }}
    <a href="{{ site.feed[page.lang] | prepend: site.baseurl | prepend: site.url }}">{{ site.i18n.via[page.lang] }} RSS</a></p>

</div>
