---
layout: default
---

<div class="home">

  <h1 class="page-heading">{{ site.i18n.posts[page.lang] }}</h1>

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        {{ post.excerpt }}
      </li>
    {% endfor %}
  </ul>

  <!-- Pagination links -->
  {% include pagination.html %}

  <p class="rss-subscribe">{{ site.i18n.subscribe[page.lang] }}
    <a href="{{ "/feed.xml" | relative_url }}">{{ site.i18n.via[page.lang] }} RSS</a></p>

</div>
