---
layout: default
lang: uk
---

<div class="home">

  <h1 class="page-heading">Публікації</h1>
  
  {{ content }}

  <ul class="post-list">
    {% assign posts=site.posts | where:"lang", page.lang %}
    {% for post in posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        {{ post.excerpt }}
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">підписатися на <a href="{{ "/feed.uk.xml" | relative_url }}">RSS</a></p>

</div>
